{{#if addNewPurchase}}
  <h3>Add to Cart</h3>
    <div class="new_purchase">
      <form>
        <div class="form-group">
          <label for="name"></label>
          {{product.name}}
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          {{product.price}}
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          {{input value=quantity id="quantity"}}
        </div>
        <div id="save">
        <button {{action 'save'}}>Add</button>
        </div>
      </form>
    </div>
{{else}}
  <button {{action 'purchaseFormShow'}}>Add To Cart</button>
{{/if}}
